<div class="main-container">

    <form action="" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Số thẻ</label>
                <input type="number" name="cardNumber" class="form-control" id="inputEmail4" placeholder="Số thẻ">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPassword4">CVV</label>
                <input type="number" name="cvv" class="form-control" id="inputPassword4" placeholder="CVV">
            </div>

            <div class="form-group col-md-2">
                <label for="inputAddress">Ngày hết hạn</label>
                <input type="date" name="outDate" class="form-control" id="inputAddress" placeholder="Ngày hết hạn">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAddress2">Số tiền cần nạp</label>
                <input type="number" min="0" name="amount" class="form-control" id="inputAddress2"
                    placeholder="Số tiền $">
            </div>
        </div>
        {{#if answer}}
        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="alert alert-dismissible alert-{{answer.type}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <strong>{{answer.intro}}</strong> {{{answer.message}}}
                </div>
            </div>
        </div>
        {{/if}}


        <button type="submit" class="btn btn-primary">Nạp tiền</button>
        <a type="submit" href="/" class="btn btn-danger">Quay lại</a>
    </form>



</div>