<div class="main-container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="border p-3 rounded bg-light">
                <form action="" method="post">



                    <div class="form-group">
                        <label><strong>Email đã đăng ký:</strong></label>
                        <div class="input-group mb-3">
                            <input name="email" type="email" class="form-control" placeholder="Nhập email đã đăng ký">
                        </div>
                    </div>

                    <div class="form-group">
                        <label><strong>Số điện thoại đã đăng ký:</strong></label>
                        <div class="input-group mb-3">

                            <input name="telnumber" type="tel" class="form-control"
                                placeholder="Nhập số điện thoại đã đăng ký">
                        </div>
                    </div>



                    <center>
                        <div class="form-group">
                            <button class="btn btn-success px-5" type="submit">Khôi phục</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>