<div class="main-container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="border p-3 rounded bg-light">
                <form action="" method="post">



                    <div class="form-group">
                        <label for="pass">Quên mật khẩu</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input name="email" type="email" class="form-control" placeholder="nhập Email đã đăng ký ">
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success px-5" type="submit">Gửi yêu cầu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>