<div class="margin-to-top">
    <div class="row justify-content-center">



        <div class="white-card col-sm-8 col-md-7 col-lg-4 col-xl-4">
            <div class="form-container">
                <h2 class="text-center my-5">Bổ sung thông tin CMND</h2>
                <form action="" method="post" enctype="multipart/form-data">


                    <div class="form-group">
                        <label for="user">Mặt Trước CMND</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">

                            </div>
                            <input type="file" class="form-control" accept="image/*" id="fieldPhoto"
                                name="frontIdPhoto">
                        </div>
                        <div class="form-group">
                            <label for="user">Mặt Sau CMND</label>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">

                                </div>
                                <input type="file" class="form-control" accept="image/*" id="fieldPhoto"
                                    name="backIdPhoto">
                            </div>



                            <div class="form-group">
                                <center>
                                    <button class="btn btn-success px-5" type="submit">Bổ Sung</button>
                                </center>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>